
body {
	font-family: 'lucida grande';
}
table {
	border: none;
	border-spacing: 0;
	font-size: 80%;
	border-collapse: collapse;
	width: 100%;
}
.type, .lineno {
	border-color: #BBB;
	border-width: 1px 1px 1px 0;
	padding: 0 .2em;
	border-top-color: #CCC;
}
.empty .lineno, .empty .type {
	border-top-width: 0;
	border-bottom-width: 0;
	padding: 0;
}
.lineno {
	background-color: #DDD;
	font-size: 90%;
}
.type {
	text-align: right;
	background-color: #EEE;
	font-size: 80%;
}
.line {
	font-family: monospace;
	padding: 0 .4em;
	font-size: 120%;
}
.node {
	color: #666;
}
td {
	vertical-align: top;
	border: 0 solid #EEE;
	border-top-width: 1px;
}
td.line {
	border-width: 1px 0 0 0;
}
tr.datum td.line, tr.datum td.node, tr.termin td.line, tr.termin td.node{
	border-top-color: #BBB;
}
tr.empty .line, tr.ignore .line{
	background-color: #F4F4F4;
	border: none;
}
td.node {
	border-left-color: #DDD;
	border-left-width: 4px;
	padding: .4em;
}
.form-item label{
	/*float: left;
	font-weight: bold;*/
	display: none;
}
.form-item div{
	/*margin-left: 8em;
	margin-top: -1.2em;*/
}
.form-item input,
.form-item textarea {
	width: 100%;
	font-family: sans-serif;
	font-size: 1em;
}
.form-item-time,
.form-item-location {
	display: inline-block;
}
.form-item-time {
	width: 10em;
}
.form-item-location {
	width: 38em;
	padding-left: 2em;
}
.form-item-title input {
	font-weight: bold;
}
.form-item.error input {
	font-weight: bold;
	color: #800;
}