#wbparse-edit .item-titel, #wbparse-edit .item-uhrzeit , #wbparse-edit .item-ort{
	float: left;
	/*margin-right: 2em;*/
}
#wbparse-edit .item-uhrzeit {
	clear: left;
	margin-right: 2em;
}
#wbparse-edit .form-item {
	margin: 0.3em 0;
}
#wbparse-edit .item-bemerkungen {
	margin-left: 30em;	
}
.view-pfarrbrief-termine .views-row {
	margin: .5em 0;
}
.view-pfarrbrief-termine .views-row  p{
	margin: 0;
	margin-top: .5em;
}
.view-pfarrbrief-termine .views-field-field-location-value,
.view-pfarrbrief-termine .views-field-title,
.view-pfarrbrief-termine .views-field-field-date-value{
	font-weight: bold;
}
.view-pfarrbrief-termine .views-field-field-location-value{
	float: left;
	width: 3em;
	height: 1em;
}
.view-pfarrbrief-termine .views-field-field-date-value{
	display: inline;
}
.view-pfarrbrief-termine .views-field-title{
	display: inline;
}
.view-pfarrbrief-termine .views-field-body{
	margin-left: 3em;
}
.view-pfarrbrief-termine .views-field-body p {
	margin: 0;
}
.view-pfarrbrief-termine h3 {
	margin-bottom: .5em;
}

.view-pfarrbrief-termine .views-field-edit-node {
	float: right;
}